html{
    margin: 0;
    padding: 0;
    background: url("../../static/mesh-gradient.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.name,.group-s{
    font-size:x-large;
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
    font-weight:bolder;
    font-size: xx-large;
}
p{
    font-size: larger;
}
.sizables{
    width: 30vw;
    height: 25vh;
}
*{
    box-sizing: border-box;
}