html{
    margin: 0;
    padding: 0;
    background: url("../../static/mesh-gradient.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.name,.group-s{
    font-size:x-large;
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
    font-weight:bolder;
    font-size: xx-large;
}
.group-s{
    text-align: justify;
}
p{
    font-size: larger;
}
.sizables{
    width: 30vw;
    height: 25vh;
}
*{
    box-sizing: border-box;
}
.container-iframe{
    width:100%;
    height:50vh;
    background-color: #87CEEB;
}
img.uni-logo{
    width: 10vw;
    height: 10vh;
    border-radius: .25rem;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
    margin: .5rem;
}
nav.nav-header{
    text-decoration: none;
}
footer{
    background:inherit;
    margin-left:auto;
    padding:.8rem;
}
img.web-logo{
    width: 10vw;
    height: 10vh;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin:.5rem;
}